@page "/"
@inherits LayoutComponentBase


<PageTitle>Fun Soccer App</PageTitle>

<div>
  <h1>Learn About Your Favorite Soccer Team</h1>

  <div class="search-page-wrapper">
    <a href="search">Search by team</a>
  </div>

  <div class="random-page-wrapper">
    <a href="random-player">Random player info</a>
  </div>
</div>

